doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title orient-beetle
    - var release = process.env['RELEASE'] !== undefined
    - var api = process.env['BEETLE_API_ROOT'] || '/api/'
    - var root = process.env['BEETLE_UI_ROOT'] || '/'
    - var version = process.env['BEETLE_VERSION'] || 'dev'
    - var loginUrl = process.env['BEETLE_LOGIN_URL'] || 'http://0.0.0.0:8337/auth/redirect'
    - var logoutUrl = process.env['BEETLE_LOGOUT_URL'] || 'http://0.0.0.0:8337/auth/logout'
    - var environment = JSON.stringify({ release, api, root, version, loginUrl, logoutUrl })
    - var mainsrc = release ? `${root}main.min.js` : `${root}main.js`
    - var bootsrc = release ? `${root}boot.min.js` : `${root}boot.js`
    - var maincss = `${root}main.css`
    meta(name="environment", value=environment)
    meta(
      name="viewport",
      content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1"
    )
    link(rel="stylesheet", href=maincss)
    script(type="text/javascript", src=mainsrc)
    script(type="text/javascript", src=bootsrc)
  body
